/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-color: #fff;
  font-family: "Saira", sans-serif;
}
body header {
  display: flex;
  justify-content: center;
  align-items: center;
}
body header .navbar {
  position: absolute;
  top: 0;
  z-index: 1000;
  padding: 1rem;
  width: 100%;
  max-width: 1600px;
  background-color: #fff;
}
body header .navbar .navbar-brand {
  color: #f69548;
  font-family: "Kalam", cursive;
  font-size: 2rem;
  font-weight: 900;
  margin-left: 3rem;
}
@media screen and (max-width: 992px) {
  body header .navbar .navbar-brand {
    margin-left: 0;
    font-size: 1.8rem;
  }
}
body header .navbar .navbar-toggler:focus {
  color: #fff;
}
body header .navbar .navbar-collapse li {
  line-height: 2rem;
  text-align: center;
}
body header .navbar #navbarNav {
  justify-content: flex-end;
  margin-right: 3rem;
}
@media screen and (max-width: 992px) {
  body header .navbar #navbarNav {
    margin-right: 0;
  }
}
body header .navbar #navbarNav li {
  margin: 0 2rem;
  font-size: 1.1rem;
}
body header .navbar #navbarNav li .nav-link {
  color: #000;
  transition: all 0.3s ease;
}
body header .navbar #navbarNav li .nav-link:hover {
  color: #f69548;
}
body .btn {
  width: 11rem;
  height: 3.5rem;
  margin-top: 1rem;
  background-color: #f69548;
  border-radius: 1rem;
  font-size: 1.2rem;
  color: #fff;
  transition: all 0.5s ease-out;
}
body .btn:hover {
  background-color: #333;
  color: #fff;
}
body .section-heading {
  text-align: center;
  margin: 2rem;
}
body .section-heading h2 {
  font-size: 2.2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
body .section-heading p {
  margin: 0 auto;
  width: 28rem;
  color: #696969;
}
@media screen and (max-width: 768px) {
  body .section-heading p {
    width: 80%;
  }
}
body .footer {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding: 8rem 4rem;
  background-color: #333;
  color: #fff;
}
@media screen and (max-width: 1024px) {
  body .footer {
    padding: 8rem 0.5rem;
  }
}
@media screen and (max-width: 768px) {
  body .footer {
    padding: 2rem 0.5rem;
  }
}
body .footer a {
  color: #fff;
  transition: all 0.5s ease;
}
body .footer a:hover {
  color: #f69548;
}
body .footer .footer-first-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 768px) {
  body .footer .footer-first-line {
    flex-direction: column;
  }
}
body .footer .footer-first-line .logo {
  font-size: 1.5rem;
  font-family: "Kalam", cursive;
  padding: 1rem;
}
body .footer .footer-first-line .footer-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 500px) {
  body .footer .footer-first-line .footer-menu {
    flex-direction: column;
  }
}
body .footer .footer-first-line .footer-menu .footer-link {
  padding: 1rem;
  cursor: pointer;
}
body .footer .footer-first-line .footer-social-media i {
  padding: 0.5rem;
  cursor: pointer;
  font-size: 1.3rem;
}
body .footer hr {
  height: 2px;
  background-color: #fff;
  border: none;
  opacity: 0.8;
}
body .footer .footer-second-line {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 768px) {
  body .footer .footer-second-line {
    flex-direction: column;
  }
}
body .footer .footer-second-line p,
body .footer .footer-second-line a {
  padding: 1rem;
}

body .hero {
  position: relative;
  top: 5rem;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 5rem);
  overflow: hidden;
  color: #fff;
}
body .hero .hero-images {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  width: 100vw;
  max-width: 1600px;
  height: calc(100vh - 5rem);
  max-height: 1000px;
}
@media screen and (max-width: 768px) {
  body .hero .hero-images {
    flex-direction: column;
  }
}
body .hero .hero-images .hero-image-container {
  position: relative;
  flex: 1 1 auto;
  width: 25%;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}
@media screen and (max-width: 768px) {
  body .hero .hero-images .hero-image-container {
    width: 100%;
  }
}
body .hero .hero-images .hero-image-container .hero-image {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 50%;
  width: auto;
  height: calc(100vh - 5rem);
  transform: translate(-50%, 0%);
  transition: all 0.5s ease-in-out;
}
@media screen and (max-width: 768px) {
  body .hero .hero-images .hero-image-container .hero-image {
    width: 100vw;
    top: -150%;
  }
}
body .hero .hero-images .hero-image-container .hero-image img {
  height: calc(100vh - 5rem);
  -o-object-fit: cover;
     object-fit: cover;
  width: 60vw;
}
@media screen and (max-width: 768px) {
  body .hero .hero-images .hero-image-container .hero-image img {
    width: 100vw;
    height: 60vh;
  }
}
body .hero .hero-images .hero-image-container .hero-image .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.5);
  transition: background-color 0.5s ease;
}
body .hero .hero-images .hero-image-container .hero-image .overlay:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
body .hero .hero-images .hero-image-container .hero-image .hero-text-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100vh - 5rem);
  text-align: center;
}
body .hero .hero-images .hero-image-container .hero-image .hero-text-container h2 {
  font-size: 2rem;
  color: #fff;
  z-index: 101;
  transition: all 0.3s ease;
}
@media screen and (max-width: 768px) {
  body .hero .hero-images .hero-image-container .hero-image .hero-text-container h2 {
    font-size: 1.5rem;
  }
}
body .hero .hero-images .hero-image-container .hero-image .hero-text-container h2:hover {
  color: #f69548;
}
body .hero .hero-images .hero-image-container:hover {
  width: 100%;
}
@media screen and (max-width: 768px) {
  body .hero .hero-images .hero-image-container:hover {
    height: 0%;
  }
}
body .achievements {
  position: absolute;
  margin-top: 1rem;
  margin-bottom: 10px;
  padding: 1rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  background-color: #ebe8e8;
  width: 80%;
  height: 8rem;
  max-width: 1360px;
  border-radius: 1rem;
  z-index: 1000;
}
@media screen and (max-width: 768px) {
  body .achievements {
    margin-top: 4rem;
    flex-wrap: wrap;
    height: 13rem;
  }
}
@media screen and (max-width: 500px) {
  body .achievements {
    flex-wrap: nowrap;
    flex-direction: column;
    height: 17rem;
  }
}
body .achievements .achievement {
  padding: 1rem;
}
@media screen and (max-width: 500px) {
  body .achievements .achievement {
    padding: 0.5rem;
  }
}
body .achievements .achievement span {
  font-size: 1.5rem;
  font-weight: 900;
  line-height: 2rem;
}
body .achievements .achievement p {
  font-size: 1.2rem;
}
@media screen and (max-width: 768px) {
  body .achievements .achievement p {
    font-size: 1rem;
  }
}
body .achievements hr {
  transform: rotate(90deg);
  width: 3rem;
  background-color: #000;
  opacity: 0.8;
}
@media screen and (max-width: 768px) {
  body .achievements hr {
    display: none;
  }
}
body .about-main {
  margin: 12rem auto 5rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1360px;
  height: -moz-fit-content;
  height: fit-content;
}
@media screen and (max-width: 992px) {
  body .about-main {
    margin: 15rem auto 5rem auto;
    flex-direction: column;
  }
}
@media screen and (max-width: 500px) {
  body .about-main {
    margin: 20rem auto 5rem auto;
  }
}
body .about-main .text-side {
  width: 50%;
  padding: 1rem;
}
@media screen and (max-width: 992px) {
  body .about-main .text-side {
    width: 100%;
  }
}
body .about-main .text-side h2 {
  width: 10rem;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  margin: 2rem;
}
body .about-main .text-side p {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
body .about-main .icons-side {
  width: 50%;
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
@media screen and (max-width: 992px) {
  body .about-main .icons-side {
    width: 100%;
    justify-content: center;
  }
}
body .about-main .icons-side .icon-containers {
  padding-top: 2rem;
}
body .about-main .icons-side .icon-containers .icon-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  width: 13rem;
  height: 13rem;
  background-color: #c26820;
  border-radius: 1rem;
}
@media screen and (max-width: 500px) {
  body .about-main .icons-side .icon-containers .icon-container {
    width: 10rem;
  }
}
@media screen and (max-width: 360px) {
  body .about-main .icons-side .icon-containers .icon-container {
    margin: 1rem 0 0 0;
  }
}
body .about-main .icons-side .icon-containers .icon-container:nth-child(2), body .about-main .icons-side .icon-containers .icon-container:nth-child(4) {
  background-color: #333;
  margin-left: 15rem;
  margin-top: -11rem;
}
@media screen and (max-width: 500px) {
  body .about-main .icons-side .icon-containers .icon-container:nth-child(2), body .about-main .icons-side .icon-containers .icon-container:nth-child(4) {
    margin-left: 11rem;
    margin-top: -12rem;
  }
}
@media screen and (max-width: 360px) {
  body .about-main .icons-side .icon-containers .icon-container:nth-child(2), body .about-main .icons-side .icon-containers .icon-container:nth-child(4) {
    margin: 1rem 0 0 0;
  }
}
body .about-main .icons-side .icon-containers .icon-container .circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6rem;
  height: 6rem;
  background-color: #fff;
  border-radius: 50%;
}
body .about-main .icons-side .icon-containers .icon-container .circle i {
  font-size: 3rem;
  color: #000;
}
body .about-main .icons-side .icon-containers .icon-container p {
  font-size: 1.2rem;
  color: #fff;
}
body .rooms {
  margin: 0 auto;
  width: 100%;
  max-width: 1360px;
  margin-bottom: 4rem;
}
body .rooms .room {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  align-items: center;
  gap: 2rem;
  padding: 2rem 0 2rem 0;
}
@media screen and (max-width: 768px) {
  body .rooms .room {
    grid-template-columns: 1fr;
  }
}
body .rooms .room .room-image {
  position: relative;
  display: flex;
  justify-content: center;
}
body .rooms .room .room-image img {
  width: 33rem;
  height: 23rem;
}
@media screen and (max-width: 1360px) {
  body .rooms .room .room-image img {
    width: 20rem;
    height: 15rem;
  }
}
@media screen and (max-width: 400px) {
  body .rooms .room .room-image img {
    width: 90%;
  }
}
body .rooms .room .room-image .image-border {
  position: absolute;
  width: 33rem;
  height: 23rem;
  top: -2rem;
  left: 2rem;
  border: 2px solid #f69548;
  border-radius: 1rem;
  z-index: -1;
}
@media screen and (max-width: 1360px) {
  body .rooms .room .room-image .image-border {
    width: 20rem;
    height: 100%;
  }
}
@media screen and (max-width: 400px) {
  body .rooms .room .room-image .image-border {
    display: none;
  }
}
body .rooms .room .room-image .image-border.left {
  left: -2rem;
}
body .rooms .room .room-description {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body .rooms .room .room-description h3 {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
body .rooms .room .room-description p {
  width: 28rem;
  margin-bottom: 1rem;
}
@media screen and (max-width: 1024px) {
  body .rooms .room .room-description p {
    width: 80%;
  }
}
body .rooms .room .room-description.unreversed {
  display: none;
}
@media screen and (max-width: 768px) {
  body .rooms .room .room-description.unreversed {
    display: flex;
  }
  body .rooms .room .room-description.unreversed p {
    width: 80%;
  }
}
@media screen and (max-width: 768px) {
  body .rooms .room .room-description.reversed {
    display: none;
  }
}
body .features {
  width: 100%;
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 1rem;
}
@media screen and (max-width: 480px) {
  body .features {
    padding: 0 0.2rem;
  }
}
body .features .swiper {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 1360px) {
  body .features .swiper {
    width: 90%;
  }
}
body .features .swiper .swiper-button-prev {
  margin-left: -12px;
  color: #f69548;
}
@media screen and (max-width: 350px) {
  body .features .swiper .swiper-button-prev {
    display: none;
  }
}
body .features .swiper .swiper-button-next {
  margin-right: -12px;
  color: #f69548;
}
@media screen and (max-width: 350px) {
  body .features .swiper .swiper-button-next {
    display: none;
  }
}
body .features .swiper .swiper-wrapper {
  width: 100%;
  flex-direction: row;
  padding: 2rem 0;
}
body .features .swiper .swiper-wrapper .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  height: 300px;
  padding: 1rem;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}
body .features .swiper .swiper-wrapper .swiper-slide .feature-home {
  width: 16rem;
  height: 20rem;
  border-radius: 1rem;
  border: 1px solid #f69548;
}
body .features .swiper .swiper-wrapper .swiper-slide .feature-home img {
  width: 100%;
  height: 15rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1rem 1rem 0 0;
}
body .features .swiper .swiper-wrapper .swiper-slide .feature-home .feature-home-text {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  height: 4.5rem;
}
body .features .swiper .swiper-wrapper .swiper-slide .feature-home .feature-home-text h5 {
  color: #f69548;
  font-size: 1.2rem;
}
body .features .swiper .swiper-wrapper .swiper-slide .feature-home .feature-home-text p {
  color: #f69548;
  font-weight: 700;
}
body .manufacturer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1360px;
  margin: 0 auto;
  margin-top: 7rem;
}
@media screen and (max-width: 992px) {
  body .manufacturer {
    flex-direction: column;
    margin-top: 2rem;
  }
}
body .manufacturer .manufacturer-text {
  padding: 2rem;
  align-self: flex-start;
}
body .manufacturer .manufacturer-text h3 {
  font-size: 2rem;
  margin-bottom: 2rem;
  font-weight: 700;
  line-height: 3rem;
}
body .manufacturer .manufacturer-text p {
  font-size: 1.2rem;
  line-height: 2rem;
}
body .manufacturer .manufacturer-image {
  position: relative;
}
@media screen and (max-width: 992px) {
  body .manufacturer .manufacturer-image {
    top: 2rem;
  }
}
@media screen and (max-width: 500px) {
  body .manufacturer .manufacturer-image {
    left: 0;
  }
}
body .manufacturer .manufacturer-image #manufacturer-bg1 {
  position: absolute;
  top: 4rem;
  left: 0;
  width: 25rem;
  height: 15rem;
  background-color: #f69548;
  border-radius: 1rem;
  z-index: -2;
}
@media screen and (max-width: 1360px) {
  body .manufacturer .manufacturer-image #manufacturer-bg1 {
    top: 3rem;
    height: 12rem;
  }
}
@media screen and (max-width: 500px) {
  body .manufacturer .manufacturer-image #manufacturer-bg1 {
    left: 3rem;
    width: 20rem;
  }
}
@media screen and (max-width: 400px) {
  body .manufacturer .manufacturer-image #manufacturer-bg1 {
    display: none;
  }
}
body .manufacturer .manufacturer-image #manufacturer-bg2 {
  position: absolute;
  top: -3rem;
  left: 6rem;
  width: 25rem;
  height: 16rem;
  background-color: #333;
  border-radius: 1rem;
  z-index: -1;
}
@media screen and (max-width: 1360px) {
  body .manufacturer .manufacturer-image #manufacturer-bg2 {
    width: 20rem;
  }
}
@media screen and (max-width: 500px) {
  body .manufacturer .manufacturer-image #manufacturer-bg2 {
    left: 8rem;
    width: 17rem;
  }
}
@media screen and (max-width: 400px) {
  body .manufacturer .manufacturer-image #manufacturer-bg2 {
    display: none;
  }
}
body .manufacturer .manufacturer-image #manufacturer-img1 {
  position: absolute;
  top: 0rem;
  left: 3rem;
  width: 30rem;
  height: 22rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1rem;
  z-index: 2;
}
@media screen and (max-width: 1360px) {
  body .manufacturer .manufacturer-image #manufacturer-img1 {
    left: 2.5rem;
    width: 25rem;
    height: 17rem;
  }
}
@media screen and (max-width: 500px) {
  body .manufacturer .manufacturer-image #manufacturer-img1 {
    left: 5rem;
    width: 18.5rem;
    height: 13rem;
  }
}
@media screen and (max-width: 400px) {
  body .manufacturer .manufacturer-image #manufacturer-img1 {
    left: 1.5rem;
    width: 80%;
  }
}
body .manufacturer .manufacturer-image #manufacturer-img2 {
  position: absolute;
  top: 11rem;
  left: 18rem;
  width: 13rem;
  height: 13rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1rem;
  z-index: 3;
}
@media screen and (max-width: 1360px) {
  body .manufacturer .manufacturer-image #manufacturer-img2 {
    left: 13rem;
  }
}
@media screen and (max-width: 500px) {
  body .manufacturer .manufacturer-image #manufacturer-img2 {
    top: 10rem;
    left: 12rem;
    width: 11rem;
    height: 11rem;
  }
}
@media screen and (max-width: 400px) {
  body .manufacturer .manufacturer-image #manufacturer-img2 {
    left: 25vw;
  }
}
body .manufacturer .manufacturer-image .images-description {
  margin-top: 23rem;
}
@media screen and (max-width: 992px) {
  body .manufacturer .manufacturer-image .images-description {
    margin-left: 0.5rem;
  }
}
@media screen and (max-width: 500px) {
  body .manufacturer .manufacturer-image .images-description .arrow {
    display: none;
  }
}
body .manufacturer .manufacturer-image .images-description h5 {
  font-size: 1.4rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 2rem;
}
body .manufacturer .manufacturer-image .images-description p {
  font-size: 1.2rem;
  padding: 0 4rem;
  text-align: center;
}
@media screen and (max-width: 992px) {
  body .manufacturer .manufacturer-image .images-description p {
    width: 30rem;
  }
}
@media screen and (max-width: 500px) {
  body .manufacturer .manufacturer-image .images-description p {
    width: 100%;
  }
}
body .recomendations {
  display: flex;
  width: 100%;
  max-width: 1360px;
  margin: 0 auto;
  margin-top: 4rem;
  padding: 0 2rem;
  gap: 1rem;
}
@media screen and (max-width: 768px) {
  body .recomendations {
    flex-direction: column;
    margin-top: 6rem;
  }
}
body .recomendations .slider-side {
  width: 50%;
}
@media screen and (max-width: 768px) {
  body .recomendations .slider-side {
    width: 100%;
  }
}
body .recomendations .slider-side .slider {
  position: relative;
  margin: 0 auto;
  overflow: hidden;
}
body .recomendations .slider-side .slider .slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 12rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 1s;
}
body .recomendations .slider-side .slider .slide .recomendator {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}
body .recomendations .slider-side .slider .slide .recomendator .recomendator-img {
  width: 5rem;
  height: 5rem;
  border-radius: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
body .recomendations .slider-side .slider .slide .recomendator .recomendator-info h6 {
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}
body .recomendations .slider-side .slider .slide .recomendator .recomendator-info p {
  font-size: 1.1rem;
  font-weight: 500;
}
body .recomendations .slider-side .slider .controls {
  margin-top: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media screen and (max-width: 992px) {
  body .recomendations .slider-side .slider .controls {
    margin-top: 12rem;
  }
}
body .recomendations .slider-side .slider .controls .slider-btn {
  width: 3rem;
  height: 3rem;
  margin: 0.5rem;
  border: none;
  border-radius: 100%;
  background-color: #ddd;
  color: #000;
  font-size: 1.5rem;
  cursor: pointer;
  transition: all 0.5s ease;
}
body .recomendations .slider-side .slider .controls .slider-btn:hover {
  background-color: #286f6c;
  color: #fff;
}
body .recomendations .slider-side .slider .controls .dots .dots-dot {
  border: none;
  background-color: #b9b9b9;
  opacity: 0.7;
  height: 0.8rem;
  width: 0.8rem;
  border-radius: 50%;
  margin: 1rem;
  cursor: pointer;
  transition: all 0.5s ease;
}
body .recomendations .slider-side .slider .controls .dots .dots-dot-active {
  background-color: #333;
  opacity: 1;
}
body .recomendations .image-side {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 768px) {
  body .recomendations .image-side {
    width: 100%;
  }
}
body .recomendations .image-side img {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1rem;
}
@media screen and (max-width: 1024px) {
  body .recomendations .image-side img {
    width: 80%;
  }
}
body .discount {
  width: 100%;
  max-width: 1600px;
  height: 25rem;
  position: relative;
  margin: 0 auto;
  margin-top: 4rem;
}
body .discount img {
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  z-index: -2;
}
body .discount .discount-content {
  width: 50%;
  height: 100%;
  margin-left: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
@media screen and (max-width: 768px) {
  body .discount .discount-content {
    align-items: center;
    width: 100%;
    margin: 0 auto;
  }
}
body .discount .discount-content h3 {
  font-size: 1.5rem;
  color: #fff;
  margin-bottom: 1rem;
}
body .discount .discount-content p {
  font-size: 1.1rem;
  color: #fff;
  margin-bottom: 1rem;
}
body .discount .discount-content form {
  width: 100%;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 992px) {
  body .discount .discount-content form {
    flex-direction: column;
    align-items: flex-start;
  }
}
@media screen and (max-width: 768px) {
  body .discount .discount-content form {
    align-items: center;
  }
}
body .discount .discount-content form .email-input {
  width: 20rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: none;
  transition: all 0.5s ease;
}
@media screen and (max-width: 350px) {
  body .discount .discount-content form .email-input {
    width: 90%;
  }
}
body .discount .discount-content form .email-input:focus {
  outline: none;
  box-shadow: 0px 0px 25px 8px rgba(51, 51, 51, 0.75);
}
body .discount .discount-content form .discount-btn {
  background-color: #333;
  width: 8rem;
  margin: 0;
  margin-left: 1rem;
  height: 3rem;
  border-radius: 0.5rem;
}
@media screen and (max-width: 992px) {
  body .discount .discount-content form .discount-btn {
    margin: 1rem 0;
  }
}
body .discount .discount-content form .discount-btn:hover {
  background-color: #c26820;
}

.our-store {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  margin-top: 5rem;
}
@media screen and (max-width: 992px) {
  .our-store {
    flex-direction: column-reverse;
  }
}
.our-store .our-store-text-content {
  width: 50%;
  padding: 1rem;
}
@media screen and (max-width: 992px) {
  .our-store .our-store-text-content {
    margin-top: 30rem;
    width: 100%;
  }
}
@media screen and (max-width: 410px) {
  .our-store .our-store-text-content {
    margin-top: 58rem;
  }
}
.our-store .our-store-text-content h2 {
  color: #f69548;
  font-family: "Kalam", cursive;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
  margin-left: 5.5rem;
}
@media screen and (max-width: 410px) {
  .our-store .our-store-text-content h2 {
    text-align: center;
    margin-left: 0;
  }
}
.our-store .our-store-text-content p {
  margin-bottom: 1rem;
  line-height: 1.5rem;
  font-size: 1.2rem;
}
.our-store .our-store-image {
  width: 50%;
  position: relative;
  top: 0;
}
@media screen and (max-width: 1360px) {
  .our-store .our-store-image {
    top: 2rem;
  }
}
@media screen and (max-width: 992px) {
  .our-store .our-store-image {
    width: 100%;
    top: 15rem;
  }
}
.our-store .our-store-image img {
  position: absolute;
  top: -15rem;
  left: 0;
  width: 100%;
  height: 28rem;
  -o-object-fit: cover;
     object-fit: cover;
}
.our-store .our-store-image h2 {
  position: absolute;
  top: -10rem;
  left: 10%;
  z-index: 10;
  color: #fff;
  font-size: 2.5rem;
  font-weight: 900;
  font-family: "Kalam", cursive;
  text-align: center;
}
@media screen and (max-width: 500px) {
  .our-store .our-store-image h2 {
    font-size: 2rem;
    left: 5%;
  }
}
@media screen and (max-width: 410px) {
  .our-store .our-store-image h2 {
    left: 0;
    width: 100%;
    margin: 0 auto;
  }
}
.our-store .our-store-image h4 {
  position: absolute;
  top: -12.5rem;
  right: 1.2rem;
  z-index: 10;
  color: #000;
  font-size: 1.2rem;
  font-weight: 700;
  text-align: center;
  background-color: rgba(245, 245, 245, 0.8);
  padding: 0.5rem 1rem;
  border-radius: 1rem;
}
@media screen and (max-width: 410px) {
  .our-store .our-store-image h4 {
    top: 14rem;
    left: 0;
    width: 100%;
    background-color: transparent;
    margin: 0 auto;
  }
}
.our-store .our-store-image .our-uniques {
  position: absolute;
  top: 5rem;
  right: 2rem;
}
@media screen and (max-width: 410px) {
  .our-store .our-store-image .our-uniques {
    top: 33rem;
    right: 30%;
  }
}
.our-store .our-store-image .our-uniques .our-unique .unique-image {
  width: 7rem;
  height: 7rem;
  border-radius: 1rem;
}
.our-store .our-store-image .our-uniques .our-unique .unique-image img {
  width: 7rem;
  height: 7rem;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 10;
}
.our-store .our-store-image .our-uniques .our-unique .unique-bg {
  margin-top: -19.5rem;
  margin-left: 1rem;
  width: 8rem;
  height: 8rem;
  background-color: #fffefe;
  opacity: 0.6;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: left;
}
@media screen and (max-width: 410px) {
  .our-store .our-store-image .our-uniques .our-unique .unique-bg {
    background-color: #c26820;
    opacity: 1;
  }
}
.our-store .our-store-image .our-uniques .our-unique .unique-bg h6,
.our-store .our-store-image .our-uniques .our-unique .unique-bg p {
  color: #000;
  font-weight: 900;
  margin: 0 0.5rem 0.5rem 1rem;
}
@media screen and (max-width: 410px) {
  .our-store .our-store-image .our-uniques .our-unique .unique-bg h6,
  .our-store .our-store-image .our-uniques .our-unique .unique-bg p {
    color: #fff;
    font-weight: 500;
  }
}
.our-store .our-store-image .our-uniques .our-unique:nth-child(2) {
  margin-top: 11rem;
}
.our-store .our-store-image .our-uniques .our-unique:nth-child(2) .unique-image img {
  margin-top: 11em;
}/*# sourceMappingURL=global.css.map */