body {
  background-color: $white-color;
  font-family: "Saira", sans-serif;

  .hidden {
    display: none;
  }

  header {
    display: flex;
    justify-content: center;
    align-items: center;

    .navbar {
      position: absolute;
      top: 0;
      z-index: 1000;
      padding: 0.9rem;
      width: 100%;
      max-width: 1600px;
      background-color: $white-color;

      .navbar-brand {
        color: $primary-color;
        font-family: "Kalam", cursive;
        font-size: 2rem;
        font-weight: 900;
        margin-left: 3rem;

        @media screen and (max-width: 1024px) {
          margin-left: 0;
          font-size: 1.8rem;
        }
      }

      .navbar-toggler {
        &:focus {
          color: $white-color;
        }
      }

      .navbar-collapse {
        li {
          line-height: 2rem;
          text-align: center;
        }
      }

      #navbarNav {
        justify-content: flex-end;
        margin-right: 3rem;

        @media screen and (max-width: 1024px) {
          margin-right: 0;
        }

        li {
          margin: 0 1.1rem;
          font-size: 1.1rem;

          &.cart {
            padding: 0 10px;
            border: 1px solid #bbb;
            border-radius: 100px;
          }

          .nav-link {
            color: $black-color;
            transition: all 0.3s ease;

            &:hover {
              color: $primary-color;
            }
          }
        }
      }
    }
  }

  .product {
    width: 18rem;
    height: 20rem;
    border: 1px solid $primary-color;
    border-radius: 1rem;
    overflow: hidden;

    img {
      width: 18rem;
      height: 15rem;
      object-fit: cover;
    }

    .product-text {
      height: 4.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 0.5rem;
      text-align: center;

      h5 {
        color: $primary-color;
        font-size: 1.2rem;
        line-height: 1.3rem;
      }

      p {
        color: $primary-color;
        font-weight: 700;
      }
    }
  }

  .btn {
    width: 11rem;
    height: 3.5rem;
    margin-top: 1rem;
    background-color: $primary-color;
    border-radius: 1rem;
    font-size: 1.2rem;
    color: $white-color;
    transition: all 0.5s ease-out;

    &:hover {
      background-color: $gray-color;
      color: $white-color;
    }
  }

  .section-heading {
    text-align: center;
    margin: 2rem;

    h2 {
      font-size: 2.2rem;
      font-weight: 700;
      margin-bottom: 1rem;
    }

    p {
      margin: 0 auto;
      width: 28rem;
      color: $light-gray-color;

      @media screen and (max-width: 768px) {
        width: 80%;
      }
    }
  }

  .circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    height: 6rem;
    background-color: $white-color;
    border-radius: 50%;
  }

  .success-message {
    color: $green-color;
  }

  .footer-container {
    width: 100%;
    background-color: $gray-color;

    .footer {
      margin: 0 auto;
      max-width: 1600px;
      padding: 8rem 4rem;
      color: $white-color;

      @media screen and (max-width: 1024px) {
        padding: 8rem 0.5rem;
      }

      @media screen and (max-width: 768px) {
        padding: 2rem 0.5rem;
      }

      a {
        color: $white-color;
        transition: all 0.5s ease;

        &:hover {
          color: $primary-color;
        }
      }

      .footer-first-line {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media screen and (max-width: 768px) {
          flex-direction: column;
        }

        .logo {
          font-size: 1.5rem;
          font-family: "Kalam", cursive;
          padding: 1rem;
        }

        .footer-menu {
          display: flex;
          justify-content: center;
          align-items: center;

          @media screen and (max-width: 500px) {
            flex-direction: column;
          }

          .footer-link {
            padding: 1rem;
            cursor: pointer;
          }
        }

        .footer-social-media {
          i {
            padding: 0.5rem;
            cursor: pointer;
            font-size: 1.3rem;
          }
        }
      }

      hr {
        height: 2px;
        background-color: $white-color;
        border: none;
        opacity: 0.8;
      }

      .footer-second-line {
        display: flex;
        justify-content: center;
        align-items: center;

        @media screen and (max-width: 768px) {
          flex-direction: column;
        }

        p,
        a {
          padding: 1rem;
        }
      }
    }
  }
}

.product-modal-layout,
.checkout-modal-layout {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(10, 10, 10, 0.95);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1100;

  .order-confirmed {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 400px;
    height: 250px;
    border: 3px solid $primary-color;
    border-radius: 5px;
    font-size: 1.5rem;
    color: $primary-color;
    background-color: $white-color;
    position: relative;

    @media (max-width: 420px) {
      width: 90%;
      font-size: 1.3rem;
    }

    i {
      font-size: 4rem;
      margin-top: 20px;
    }

    &.hidden {
      display: none;
    }

    .close-confirm {
      position: absolute;
      top: 0;
      right: 1rem;
      font-size: 2.5rem;
      cursor: pointer;
      transition: 0.3s ease;

      &:hover {
        color: $gray-color;
      }
    }
  }

  .product-modal,
  .checkout-modal {
    width: 1200px;
    border: 3px solid $primary-color;
    border-radius: 8px;
    padding: 1.2rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: $white-color;
    position: relative;

    @media (max-width: 1360px) {
      width: 90%;
    }

    @media (max-height: 920px) {
      max-height: 90%;
      overflow-y: auto;
    }

    @media (max-width: 820px) {
      flex-direction: column;
      align-items: center;
      gap: 40px;
    }

    @media (max-width: 600px) {
      gap: 20px;
    }

    .close {
      position: absolute;
      top: 0;
      right: 1rem;
      font-size: 2.5rem;
      cursor: pointer;
      transition: 0.3s ease;
      color: $primary-color;

      &:hover {
        color: $gray-color;
      }

      @media (max-width: 820px) {
        top: -12px;
        right: 0;
      }
    }

    .product-image {
      width: 500px;
      height: 500px;
      object-fit: cover;

      @media (max-height: 400px) {
        max-height: 250px;
      }

      @media (max-width: 1200px) {
        width: 450px;
        height: 450px;
      }
      @media (max-width: 1024px) {
        width: 400px;
        height: 400px;
      }
      @media (max-width: 920px) {
        width: 350px;
        height: 350px;
      }

      @media (max-width: 820px) {
        width: 100%;
      }

      @media (max-width: 600px) {
        height: 300px;
      }

      @media (max-width: 500px) {
        height: 250px;
      }
    }

    .product-modal-description {
      width: 45%;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      gap: 1rem;

      @media (max-width: 820px) {
        width: 100%;
      }

      h3 {
        font-size: 1.5rem;
        font-weight: 600;
      }

      p {
        margin-right: 1rem;
      }

      span {
        color: $primary-color;
        font-size: 1.7rem;
        font-weight: 600;
        margin: 1.2rem 0;

        @media (max-width: 920px) {
          margin: 0.5rem 0;
        }
      }

      .modal-btns {
        display: flex;
        justify-content: left;
        align-items: center;
        margin-top: 1.5rem;
        gap: 10px;

        button {
          width: 15rem;
          height: 3rem;
          border-radius: 8px;

          @media (max-width: 500px) {
            align-self: center;
          }
        }

        .cart-btn {
          border: 1px solid #bbb;
          border-radius: 5px;
          margin-top: 1rem;
          padding: 15px 15px 15px 12px;
          cursor: pointer;
          color: $black-color;
          transition: all 0.3s ease;

          &:hover {
            background-color: #f3f0ef;
          }
        }
      }
    }
    .checkout-form-container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 100%;
      padding: 1rem;

      @media (max-width: 1400px) {
        padding: 0.5rem;
      }

      h2 {
        font-size: 1.3rem;
        font-weight: 600;
        color: $primary-color;
        text-transform: uppercase;

        @media (max-width: 1400px) {
          font-size: 1.1rem;
        }
      }

      button {
        width: 100%;
        max-width: 500px;
        padding: 10px 20px;
        background-color: $primary-color;
        border: none;
        border-radius: 5px;
        margin: 10px 0;
        text-transform: uppercase;
        transition: all 0.3s ease;

        &:hover {
          background-color: $gray-color;
          color: $white-color;
        }
      }

      .checkout-form {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;

        @media (max-width: 900px) {
          gap: 0px;
        }

        @media (max-width: 840px) {
          flex-direction: column;
        }

        h3 {
          text-transform: uppercase;
          font-size: 1.1;
          font-weight: 600;
          margin: 1rem 0;

          @media (max-width: 1400px) {
            margin: 0.5rem 0;
          }
        }

        .checkout-adress,
        .checkout-billing {
          height: 500px;
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;
          flex-direction: column;
          padding: 1rem 0;
          flex: 1;
          margin-bottom: 60px;

          @media (max-width: 1400px) {
            font-size: 0.9rem;
            height: 440px;
          }

          @media (max-width: 840px) {
            width: 100%;
            height: auto;
            margin-bottom: 0px;
          }

          .card-dates {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;

            div {
              flex: 1;
              display: flex;
              flex-direction: column;
              justify-content: center;

              input,
              select {
                width: 100px;
                margin-top: 5px;
                height: 35px;

                @media (max-width: 600px) {
                  width: 80px;
                }

                &:hover,
                &:focus {
                  background-color: $white-color;
                  border: 1px solid #bbb;
                }
              }

              select {
                text-align: center;
              }
            }
          }

          .checkout-total-items,
          .checkout-total-price {
            width: 100%;
            background-color: #f3f0ef;
            line-height: 35px;
            margin-top: 10px;
            padding: 5px;
            max-width: 500px;
            p {
              display: flex;
              justify-content: space-between;
            }
          }

          .card-types {
            display: flex;

            input {
              width: 15px;
              margin: 15px 0;
            }

            img {
              margin: 10px;
              width: 80px;
              height: 40px;
              border-radius: 5px;
              box-shadow: 3px 3px 3px #bbb;
            }
          }

          label {
            text-transform: uppercase;
            font-size: 0.8rem;
            margin-top: 15px;

            @media (max-width: 1400px) {
              font-size: 0.7rem;
              margin-top: 10px;
            }
          }

          input {
            width: 250px;
            height: 35px;
            padding: 10px;
            border: 1px solid #bbb;
            border-radius: 2px;
            margin-top: 5px;
            transition: all 0.5s ease;

            &:hover {
              background-color: $primary-color;
              outline: none;
              border: 1px solid $primary-color;
            }

            &:focus {
              background-color: $primary-color;
              outline: none;
              border: none;
            }

            &#zipCode {
              width: 100px;
            }
          }
        }
      }
    }
  }
}
