body {
  background-color: $white-color;
  font-family: "Saira", sans-serif;

  .hidden {
    display: none;
  }

  header {
    display: flex;
    justify-content: center;
    align-items: center;

    .navbar {
      position: absolute;
      top: 0;
      z-index: 1000;
      padding: 0.9rem;
      width: 100%;
      max-width: 1600px;
      background-color: $white-color;

      .navbar-brand {
        color: $primary-color;
        font-family: "Kalam", cursive;
        font-size: 2rem;
        font-weight: 900;
        margin-left: 3rem;

        @media screen and (max-width: 1024px) {
          margin-left: 0;
          font-size: 1.8rem;
        }
      }

      .navbar-toggler {
        &:focus {
          color: $white-color;
        }
      }

      .navbar-collapse {
        li {
          line-height: 2rem;
          text-align: center;
        }
      }

      #navbarNav {
        justify-content: flex-end;
        margin-right: 3rem;

        @media screen and (max-width: 1024px) {
          margin-right: 0;
        }

        li {
          margin: 0 1.1rem;
          font-size: 1.1rem;

          &.cart {
            padding: 0 10px;
            border: 1px solid #bbb;
            border-radius: 100px;
          }

          .nav-link {
            color: $black-color;
            transition: all 0.3s ease;

            &:hover {
              color: $primary-color;
            }
          }
        }
      }
    }
  }

  .product {
    width: 18rem;
    height: 20rem;
    border: 1px solid $primary-color;
    border-radius: 1rem;
    overflow: hidden;

    img {
      width: 18rem;
      height: 15rem;
      object-fit: cover;
    }

    .product-text {
      height: 4.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 0.5rem;
      text-align: center;

      h5 {
        color: $primary-color;
        font-size: 1.2rem;
        line-height: 1.3rem;
      }

      p {
        color: $primary-color;
        font-weight: 700;
      }
    }
  }

  .btn {
    width: 11rem;
    height: 3.5rem;
    margin-top: 1rem;
    background-color: $primary-color;
    border-radius: 1rem;
    font-size: 1.2rem;
    color: $white-color;
    transition: all 0.5s ease-out;

    &:hover {
      background-color: $gray-color;
      color: $white-color;
    }
  }

  .section-heading {
    text-align: center;
    margin: 2rem;

    h2 {
      font-size: 2.2rem;
      font-weight: 700;
      margin-bottom: 1rem;
    }

    p {
      margin: 0 auto;
      width: 28rem;
      color: $light-gray-color;

      @media screen and (max-width: 768px) {
        width: 80%;
      }
    }
  }

  .circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    height: 6rem;
    background-color: $white-color;
    border-radius: 50%;
  }

  .success-message {
    color: $green-color;
  }

  .footer-container {
    width: 100%;
    background-color: $gray-color;

    .footer {
      margin: 0 auto;
      max-width: 1600px;
      padding: 8rem 4rem;
      color: $white-color;

      @media screen and (max-width: 1024px) {
        padding: 8rem 0.5rem;
      }

      @media screen and (max-width: 768px) {
        padding: 2rem 0.5rem;
      }

      a {
        color: $white-color;
        transition: all 0.5s ease;

        &:hover {
          color: $primary-color;
        }
      }

      .footer-first-line {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media screen and (max-width: 768px) {
          flex-direction: column;
        }

        .logo {
          font-size: 1.5rem;
          font-family: "Kalam", cursive;
          padding: 1rem;
        }

        .footer-menu {
          display: flex;
          justify-content: center;
          align-items: center;

          @media screen and (max-width: 500px) {
            flex-direction: column;
          }

          .footer-link {
            padding: 1rem;
            cursor: pointer;
          }
        }

        .footer-social-media {
          i {
            padding: 0.5rem;
            cursor: pointer;
            font-size: 1.3rem;
          }
        }
      }

      hr {
        height: 2px;
        background-color: $white-color;
        border: none;
        opacity: 0.8;
      }

      .footer-second-line {
        display: flex;
        justify-content: center;
        align-items: center;

        @media screen and (max-width: 768px) {
          flex-direction: column;
        }

        p,
        a {
          padding: 1rem;
        }
      }
    }
  }
}
